@charset "utf-8";
/* CSS Document */



* {
	padding: 0px;
	margin: 0px;
}


header{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	flex-wrap: wrap;
	display: flex;
}

body {
	background-image: url("bilder/banner2.jpg");
	background-size: 1700px 300px ;
    background-repeat: no-repeat;
	background-position: center top;
background-color: #4a4a4a
	}

#footer{
	width: 1700px;
	height: 45px;
	background-color: #4952E1 ;
	margin: auto;
	margin-top:10px;
	align-content:center;
}

#foo{
	margin-left: 50px;
	display:inline;
	color: white;
	float: left;
	margin-left: 70px;
	flex-wrap: wrap;
	font-family: 'Allerta Stencil', sans-serif;
}

#foo2 {

	margin-left: 100px;
	display:inline;
	color: white;
	float: left;
	margin-left: 50px;
	flex-wrap: wrap;
	font-family: 'Allerta Stencil', sans-serif;

}
#foo3 {
	display:inline;
	color: white;
	float: left;
	margin-left: 50px;
	flex-wrap: wrap;
	font-family: 'Allerta Stencil', sans-serif;
}

#oberfoo {
	padding-top: 13px;
	font-size: 25px;


}

#banner {
	flex-wrap: wrap;
	margin: auto;
}
nav {
	font-size: 23px;
	color: #FFFFFF;
	font-family: 'Allerta Stencil', sans-serif;
	flex-wrap: wrap;
	padding-top: 1px ;
	display: flex;
	float: left;
	position: relative;
    width: 1400px;
    margin: 10px auto;

}

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4A4A4A;
    width: 400px;
	height: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	font-size: 18px;
	margin-top: 11px;
	background: hsla(350,80%,1%,0.4);
 color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}
ul li{
	display:inline;
	color: #000000;
	float: left;
	margin-left: 300px;
	flex-wrap: wrap;
 display: flex;

	}


#sec {
		margin: auto;
	width: 1700px;
	height: 50px;
	margin-top: 1px;
	flex-wrap: wrap;
	display:flex;


}

#wrapper {
	margin: auto;
	width: 1700px;
	height: 50px;
	background-color: black;
	background-color: #000000;
	margin-top: 250px;
	background: hsla(40,5%,5%,0.4);
	flex-wrap: wrap;


	}

nav a:focus,
  nav a:hover,
  nav a:active {
    color: black;
  }

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  background: white;
}

#section {
	margin-top: 20px;
	width: 1070px;
	height: 1200px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	border-radius: 10px;
	background: hsla(350,100%,100%,0.7);
}
#article {
font-family: 'Quicksand', sans-serif;
	width: 1700px;
	height: 500px;
}

#articlewiki {
	background-color: white;
	width: 350px;
	height: 200px;
	margin-left: 70px;
	margin-top: 50px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);

}

#pp{
	margin-left: 20px;
}

#h21{
	color: #DD1166;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}


#articlewiki2 {
	background-color: white;
	width: 740px;
	height: 200px;
	margin-left: 390px;
	margin-top: -158px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);

}

#h22{
	color: #77cc00;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}

#articlewiki3 {
	background-color: white;
	width: 360px;
	height: 442px;
	margin-left: 790px;
	margin-top: -140px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
}

#h23{
	color: #4952e1;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}

#h231{
	color: #4952e1;
margin-top: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}

#articlewiki4 {
	background-color: white;
	width: 350px;
	height: 200px;
	margin-left: -1180px;
	margin-top: -20px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);

}

#h24{
	color: #DD1166;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}
			#h241{
				color: #DD1166;
				margin-top: 2px;
				font-family: 'Allerta Stencil', sans-serif;
				font-size: 15px;
			}

			#h242{
				color: #DD1166;
			margin-top: 5px;
				font-family: 'Allerta Stencil', sans-serif;
				font-size: 15px;
			}




#articlewiki5 {
	background-color: white;
	width: 350px;
	height: 200px;
	margin-left: 390px;
	margin-top: -190px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);

}

#h25{
	color: #77cc00;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}


#articlewiki6 {
	background-color: white;
	width: 350px;
	height: 200px;
	margin-left: 390px;
	margin-top: -120px;
	-webkit-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	-moz-box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);
	box-shadow: -2px -1px 53px -6px rgba(0,0,0,1);

}

#h26{
	color: #77cc00;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 15px;
}

#articlep1 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;

}

#articlep2 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;

}

#articlep3 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;

}
#articlep4 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;
	margin-top: -15px;
}


			#articlep41 {
			font-family: 'Quicksand', sans-serif;
			color: black;
			font-size:13;

}

			#articlep42 {
			font-family: 'Quicksand', sans-serif;
			color: black;
			font-size:13;

}





#articlep5 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;

}
#articlep6 {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size:13;

}
